@import 'styles/colors';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/layout';

.wrapper {
  background: var(--color-black-5);
  display: grid;
  justify-items: center;
  grid-template-rows: min-content;
  @include respond-above(sm) {
    padding: $largePadding;
  }
}

.enrolContainer {
  background: var(--color-white);
}

.enrolWrapper {
  background: var(--color-white);
  padding: $basePadding;
  display: grid;
  justify-items: center;
}

.heading {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}
.text {
  margin: 2rem 0;
}

.occurrenceInfo {
  background: var(--color-black-5);
  padding: $basePadding;
}

.actions {
  width: 60%;
  button {
    margin-top: $baseMargin;
    width: 100%;
  }
}
