@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/layout';

$max-text-width: $container-width-s;

.wrapper {
  background: var(--color-black-5);
  display: grid;
  justify-items: center;
  grid-template-rows: min-content;

  @include respond-above(sm) {
    padding: $largePadding;
  }
}

.enrolContainer {
  max-width: $container-width-m;
  padding-bottom: 0;

  background: var(--color-white);
}

.enrolWrapper {
  background: var(--color-white);
  padding: $spacing-3-xl $spacing-l;
  display: grid;
  justify-items: center;
}

.heading > h1 {
  margin: 0;
  max-width: $max-text-width;

  font-size: $fontsize-heading-l;
  text-align: center;
}

.text {
  margin: 2rem 0;
  max-width: $max-text-width;
  line-height: $lineheight-l;

  font-size: $fontsize-body-l;
  text-align: center;
}

.occurrenceInfo {
  box-sizing: border-box;
  background: $color-fog-medium-light;
  padding: $spacing-xs;
  width: 100%;

  @include respond-above(sm) {
    width: unset;
  }
}

.actions {
  margin-top: $spacing-s;

  @include respond-above(sm) {
    max-width: 55%;
  }
  button {
    margin-top: $baseMargin;
    width: 100%;
  }
}
