@import 'styles/variables';
@import 'styles/layout';

$childHeadingMargin: 0.65rem;

.wrapper {
  background: var(--color-black-5);
}

.childDetailWrapper {
  display: grid;
  padding: 0 $basePadding;
  @include respond-above(sm) {
    padding: 0;
    grid-template-columns: 1fr 10fr 1fr;
  }
  @include respond-below(sm) {
    grid-auto-rows: min-content;
  }
}

.backButtonWrapper {
  @include respond-below(sm) {
    display: none;
  }
  height: $largeMargin;
  width: $largeMargin;
  margin-top: $baseMargin;

  .backButtonIcon {
    height: inherit;
    width: inherit;
    img {
      height: $baseMargin;
      width: $baseMargin;
    }
  }
}

.backButtonInnerWrapper {
  grid-column: 1;
  padding-top: 2rem;
  width: $logoWidth;
  display: flex;
  justify-content: center;

  a {
    display: inline-flex;
    width: 3.9rem;
    height: 3.9rem;
    justify-content: center;
    align-items: center;

    background: white;
    border: none;
    border-radius: 50%;
  }

  @include respond-below(md) {
    display: none;
  }
}

.childIcon {
  height: $largeMargin;
  width: $largeMargin;
}

.childInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: $baseMargin;
  .childInfoHeadingRow {
    display: inline-flex;
    justify-content: space-between;
    margin: $baseMargin 0;

    .childName {
      display: grid;

      @include respond-below(sm) {
        > div {
          display: none;
        }
        flex-grow: 1;
      }
      @include respond-above(sm) {
        grid-template-columns: $largeMargin 1fr;
        gap: $baseMargin;
        > div {
          align-self: baseline;
          margin-top: $childHeadingMargin;
        }
      }

      h1 {
        margin: 0;
        align-self: center;
      }
    }
    .editChildInfoButton {
      border: none;
      padding: 0;
      background: transparent;
      height: $buttonHeight;
      // HDS adds unwanted margin to icon
      div {
        margin-right: 0;
      }
      span {
        display: none;
        @include respond-above(md) {
          display: inline;
          white-space: nowrap;
        }
      }
    }
  }

  .childInfoRow {
    padding-bottom: $baseMargin;
    display: grid;
    grid-template-columns: $largeMargin 1fr;
    gap: $baseMargin;
    @include respond-above(sm) {
      > span {
        align-self: center;
      }
    }

    @include respond-below(sm) {
      > span {
        align-self: start;
      }
    }

    > div {
      justify-self: center;
    }
  }
}
