@import 'styles/layout';

.container {
  --container-padding: var(--spacing-s);
  --icon-dimension: 3rem;

  display: flex;
  flex-direction: column;
  column-gap: var(--spacing-s);
  row-gap: var(--spacing-s);

  position: relative;

  padding: var(--container-padding);

  background: var(--color-white);
  cursor: pointer;

  @include respond-above(sm) {
    --container-padding: var(--spacing-s);
    --icon-dimension: 4rem;

    flex-direction: row;
    align-items: center;
  }

  & > a {
    display: flex;
    align-items: center;
  }
}

.icon {
  position: absolute;
  top: var(--container-padding);
  left: var(--container-padding);

  align-self: flex-start;
  height: var(--icon-dimension);
  width: var(--icon-dimension);

  @include respond-above(sm) {
    position: unset;
    top: unset;
    left: unset;
  }
}

.content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2-xs);

  & > * {
    margin: 0;
  }

  @include respond-above(lg) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'titleArea additionalArea'
      'contentStackArea additionalArea';
  }

  .title {
    grid-area: titleArea;
  }
  .contentStack {
    grid-area: contentStackArea;
  }
  .additionalDetails {
    grid-area: additionalArea;
  }
}

.title {
  display: flex;
  align-items: center;

  min-height: var(--icon-dimension);
  padding-left: calc(var(--icon-dimension) + var(--spacing-xs));

  @include respond-above(sm) {
    min-height: unset;
    padding-left: unset;
  }
}

.contentStack {
  order: 100; // set last
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0;
  }

  @include respond-above(sm) {
    order: unset;
  }
}

.additionalDetails {
  order: 3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: left;
  column-gap: var(--spacing-l);
  row-gap: var(--spacing-xs);

  @include respond-above(sm) {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.contentDescription {
  font-weight: 500;
}

.readMoreLink {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);

  height: var(--icon-dimension);

  display: flex;
  align-items: center;

  @include respond-above(sm) {
    position: unset;
    top: unset;
    left: unset;
  }
}
