@import 'styles/layout';
@import 'styles/variables';

$labelIconMargin: 0.5rem;
$labelColumnMargin: 1rem;
$labelRowMargin: 1rem;

.row {
  display: flex;
  flex-direction: column;

  @include respond-above(sm) {
    display: grid;
    width: min-content;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'item1 item2 item3'
      'item4 item4 item4';
    justify-items: center;

    & > *:nth-child(4) {
      grid-area: item4;
    }
  }

  .label {
    @include respond-above(sm) {
      > * {
        margin-right: $labelColumnMargin;
      }
    }
    @include respond-below(sm) {
      & + & {
        margin-top: $labelRowMargin;
      }
    }
  }
}

.label {
  display: inline-flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  align-items: center;

  font-size: $fontsize-body-l;
  text-align: left;

  @include respond-above(md) {
    white-space: nowrap;
  }
}

.labelIcon {
  margin-right: $labelIconMargin;
}
