@import 'styles/layout';
@import 'styles/variables';

$labelIconMargin: 0.5rem;
$labelColumnMargin: $spacing-2-xs;
$labelRowMargin: $spacing-s;

.row {
  display: flex;
  flex-direction: column;

  @include respond-above(sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.center {
      justify-content: center;
    }
  }

  .label {
    @include respond-above(sm) {
      > * {
        margin-right: $labelColumnMargin;
      }
    }
    @include respond-below(sm) {
      & + & {
        margin-top: $labelRowMargin;
      }
    }
  }
  .description {
    display: block;
  }
}

.label {
  display: inline-flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  align-items: center;

  font-size: $fontsize-body-l;
  text-align: left;

  @include respond-above(md) {
    white-space: nowrap;
  }
}

.labelIcon {
  margin-right: $labelIconMargin;
}

.fullWidth {
  width: 100%;
}
