@import 'styles/layout';
@import 'styles/variables';

$labelIconMargin: 0.5rem;
$labelColumnMargin: $spacing-2-xs;
$labelRowMargin: $spacing-s;

.row {
  display: flex;
  flex-direction: column;

  @include respond-above(sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & > div {
    margin-bottom: $spacing-2-xs;
  }

  .label {
    text-transform: capitalize;
    font-weight: 500;
    @include respond-above(sm) {
      > * {
        margin-right: $labelColumnMargin;
      }
    }
    @include respond-below(sm) {
      & + & {
        margin-top: $labelRowMargin;
      }
    }
  }
  .description {
    display: block;
    margin: 0;
    font-weight: normal;
  }
}

.label {
  display: inline-flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  text-align: left;
  margin: 0;
  white-space: pre-wrap;

  @include respond-above(md) {
    white-space: nowrap;
  }
}

.labelIcon {
  margin-right: $labelIconMargin;
}

.fullWidth {
  width: 100%;
}
