@import 'styles/layout';
@import 'styles/variables';

.linkButton {
  text-decoration: none;
}
.submitButton,
.fullButton {
  width: 100%;
}

tr {
  border-bottom: 2px solid var(--color-black-5);
}

.occurrence {
  display: none;

  & {
    @include respond-above(md) {
      display: table-row;
    }
  }

  &.isMobile {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    & .occurrenceSubmit {
      grid-column: 1 / -1;
    }

    @include respond-above(md) {
      display: none;
    }
  }
}

@include respond-above(md) {
  table {
    border-collapse: collapse;
  }
  th,
  td {
    padding: $basePadding 0;
    &.occurrenceSubmit {
      // Needs to be wide enough to facilitate the widest possible,
      // button label in each language
      min-width: 17rem;
    }
    &.remainingCapacity {
      text-align: center;
    }
  }
}
@include respond-below(md) {
  tr {
    padding: 1rem 0;
  }
}

.remainingCapacity {
  text-align: right;
}
