@import 'styles/variables';
@import 'styles/layout';

.wrapper {
  align-self: flex-start;
  padding: $spacing-layout-s $spacing-layout-xs;
  margin: $spacing-layout-s auto;
  max-width: 44.5rem;

  background-color: $color-white;

  @include respond-above(sm) {
    padding: $spacing-layout-m $spacing-layout-l;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: $spacing-3-xl;
    }

    & > * {
      width: 100%;
    }

    & > *:not(:last-child) {
      margin-bottom: $spacing-s;
    }

    @include respond-above(sm) {
      flex-direction: row;

      & > * {
        width: initial;
      }

      & > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-s;
      }
    }
  }

  .password {
    padding: $spacing-s;
    width: min-content;

    font-size: $fontsize-body-xl;
    text-transform: uppercase;
    letter-spacing: 6px;

    background-color: $color-black-5;
  }

  .copyButton {
    padding: 0;

    text-decoration: underline;
    color: $color-black-90;

    background: none;
    border: none;
    cursor: pointer;
  }

  .successCheckMark {
    color: $color-success;

    @include respond-above(sm) {
      margin-left: $spacing-2-xs;
    }
  }
}

.lessMargin {
  margin-bottom: $spacing-s;
}

.grey {
  background-color: $color-black-5;
}
