@import 'styles/variables';
@import 'styles/layout';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  @include respond-below(md) {
    padding: 0 $basePadding;
  }
}

.tada {
  display: block;
  height: 4 * $imgHeight;
  width: 4 * $imgHeight;
  margin: $baseMargin auto;
}

.submitButton {
  margin-top: $largeMargin;
  @include respond-above(md) {
    width: 50%;
  }
}
