@import 'styles/layout';
@import 'styles/variables';

.notEligible {
  @include respond-below(md) {
    margin: 0 $baseMargin $largeMargin $baseMargin;
  }

  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .notEligibleFace {
    height: 4rem;
    width: 4rem;
    margin: $baseMargin 0;
  }
}

.goBackButton {
  margin: 2 * $baseMargin;
}
