@import 'styles/layout';
@import 'styles/variables';

.wrapper {
  background: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-layout-m);

  margin: 0 auto;

  & > * {
    margin-bottom: 0;
  }
}

.heading {
  display: flex;
  flex-direction: column;

  margin-top: var(--spacing-layout-s);

  & > * {
    margin-bottom: 0;
  }

  @include respond-above(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
