@import 'styles/layout';
@import 'styles/variables';

.profileWrapper {
  display: grid;
  @include respond-below(md) {
    padding: 0 $basePadding;
  }
  @include respond-above(sm) {
    grid-template-columns: 1fr 10fr 1fr;

    .profile {
      grid-column: 2;
    }
  }
}

.profileContent {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: $baseMargin;
  h1 {
    margin: 0;
  }

  .editProfile {
    align-self: start;
    @include respond-above(md) {
      align-self: center;
    }

    button {
      height: $buttonHeight;
      align-items: center;
      border: none;
      @include respond-above(md) {
        display: inline-flex;
        align-items: center;
      }
      &:focus {
        outline: 1px solid var(--color-coat-of-arms-blue);
      }

      span {
        display: none;
        @include respond-above(md) {
          display: inherit;
          margin-right: $baseMargin;
          white-space: nowrap;
        }
      }
    }
  }
}

.wrapper {
  background: var(--color-black-5);
}

.guardianInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: $baseMargin;

  .guardianInfoRow {
    h1 {
      margin: 0;
      align-self: center;
    }
    display: grid;
    grid-template-columns: $largeMargin 1fr;
    gap: $baseMargin;
    padding-bottom: $baseMargin;

    > span {
      align-self: center;
    }

    > div {
      align-self: center;
      justify-self: center;
    }
    &:first-child {
      padding-top: $baseMargin;
    }
  }
}
