@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/layout';

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $spacing-layout-2-xl;

  background-color: $color-black-5;
}

.heroBackground {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 26rem;
  min-height: 20%;

  background-color: $color-summer;
}

.backButtonInnerWrapper {
  grid-column: 1;
  padding-top: 2rem;
  width: $logoWidth;
  display: flex;
  justify-content: center;

  a {
    display: inline-flex;
    width: 3.9rem;
    height: 3.9rem;
    justify-content: center;
    align-items: center;

    background: white;
    border: none;
    border-radius: 50%;
  }

  @include respond-below(md) {
    display: none;
  }
}

.main {
  width: 100%;
  max-width: 1200px;
  display: grid;
  position: relative;

  @include respond-above(lg) {
    grid-template-columns: 1fr 10fr 1fr;

    & > .content {
      grid-column: 2;
    }
  }
}
