@import 'styles/fonts';
@import 'styles/layout';
@import 'styles/variables';

$modalPadding: 2rem;
$modalWidthLg: 800px;

.modal {
  position: relative;

  background-color: var(--color-white);
  margin: auto;

  &:focus {
    outline: none;
  }

  // Make tab-key jump between fields
  @include respond-below(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @include respond-above(md) {
    width: $modalWidthLg;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // Cannot use var(--color-black-30) here because browsers don't support rgba-ing it.
  background-color: rgba(#b2b2b2, 0.75);
  z-index: 10;
  overflow: auto;
}

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;

  @include respond-below(md) {
    z-index: 1;
    position: relative;
  }

  button {
    padding: 0;
    border: none;
    height: $largeMargin;
    width: $largeMargin;
  }
}

.modalContent {
  background-color: var(--color-white);
  padding: $basePadding $largePadding;

  @include respond-below(md) {
    // Ensure that modal is vertically scrollable on mobile
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $largePadding 0;
    overflow: auto;
  }
}

.modalChildren {
  padding: 0 $modalPadding;

  @include respond-above(sm) {
    padding: 0 $modalPadding;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 $largeMargin 0;
  padding: 0 $modalPadding;

  .icon {
    height: $largeMargin;
    width: $largeMargin;
    margin-right: $baseMargin;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    flex-grow: 1;
  }

  h2 {
    flex-grow: 1;
  }
}
