@import 'styles/colors';
@import 'styles/variables';

.buttonWrapper {
  button {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    text-align: center;
    height: $buttonHeight;
    &:focus {
      outline: 1px solid $focusOutline;
    }
  }
}
