@import 'styles/variables';

.button {
  --color: var(--color-black);
  --color-hover: var(--color-black);
  --color-focus: var(--color-black-90);
  --color-hover-focus: var(--color-black-90);
  --background-color: var(--color-summer);
  --background-color-hover: var(--color-summer-dark);
  --background-color-focus: var(--color-summer);
  --background-color-hover-focus: var(--color-summer-dark);
  --background-selected: var(--color-summer);
  --border-color: var(--color-summer);
  --border-color-hover: var(--color-summer-dark);
  --border-color-focus: var(--color-summer-dark);
  --border-color-hover-focus: var(--color-summer-dark);
  --border-color-selected: var(--color-summer);
  --border-color-selected-hover: var(--color-summer-dark);
  --border-color-selected-focus: var(--color-summer);
  --border-color-selected-hover-focus: var(--color-summer);

  text-decoration: none;

  &.secondary {
    --background-color: var(--color-white);
    --background-color-hover: var(--color-white);
    --background-color-focus: var(--color-white);
    --background-color-hover-focus: var(--color-white);
  }

  &.supplementary {
    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-focus: transparent;
    --background-color-hover-focus: transparent;
    --border-color: none;
  }

  &.disabled {
    --background-color: var(--color-black-20);
    --background-color-hover: var(--color-black-30);
    --background-color-focus: var(--color-black-40);
    --background-color-hover-focus: var(--color-black-40);
    --border-color: var(--color-black-20);
    --border-color-hover: var(--color-black-30);
    --border-color-hover-focus: var(--color-black-40);
    --border-color-focus: var(--color-black-40);
  }
}
