@import 'styles/variables';
@import 'styles/colors';
@import 'styles/layout';

.notFound {
  text-align: center;
  align-self: center;

  .returnLink {
    width: 50%;
    @include respond-below(sm) {
      width: 80%;
    }

    display: block;
    margin: $largeMargin auto auto auto;
    background: var(--color-summer);
    box-sizing: border-box;
    text-decoration: none;
    padding: $basePadding;
    color: var(--color-black);
  }
}

.icon {
  display: block;
  margin: 0 auto;
  height: $largeMargin;
  width: $largeMargin;
}
