@import 'styles/layout';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/colors';

.birthdateField {
  text-align: left;
  display: grid;

  label {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin-bottom: $baseMargin * 0.25;
    display: inline-block;
  }

  .immutableField {
    margin-top: 0px;
    font-size: var(--hds-text-md);
  }

  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
    align-items: baseline;

    input[type='number'] {
      -moz-appearance: textfield;
    }

    /* Hide number input spinners */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  .dot {
    text-align: center;
  }

  .error {
    text-align: left;
    color: $red;
    margin-top: $sm-margin;
    font-size: $font-size-sm;
  }
}
