.birthdateField {
  text-align: left;
  display: grid;

  // fixme: The buttons jump up and down when fields are invalid
  label {
    color: var(--label-color-default);
    display: block;
    font-size: var(--fontsize-subtitle);
    font-weight: 700;
    margin-bottom: var(--spacing-3-xs);
  }

  .immutableField {
    margin-top: 0px;
    font-size: var(--hds-text-md);
  }

  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;

    input[type='number'] {
      -moz-appearance: textfield;
    }

    /* Hide number input spinners */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  .dot {
    // Todo: Check if HDS has a height variable
    text-align: center;
    height: 48px;
    display: grid;
    align-content: center;
  }

  .error {
    text-align: left;
    color: var(--color-error);
  }
}
