@import 'styles/variables';
@import 'styles/layout';

.homeForm {
  padding: 2 * $largeMargin 0;

  form {
    display: grid;
    gap: $baseMargin 0;
  }

  .inputWrapper {
    display: grid;
    justify-content: start;
    align-self: start;
    @include respond-above(md) {
      grid-template-columns: 1fr 1fr;
      gap: 0 $baseMargin;
    }
  }
}

.wrapper {
  @include formContainer();

  @include respond-below(md) {
    padding: 0 $baseMargin;
  }
}

.submitButton {
  width: 80%;
  @include respond-above(sm) {
    width: 60%;
  }
  justify-self: center;
}

.heading {
  text-align: center;
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: $largeMargin;
  }
}
