$buttonLabelMargin: 0.2rem;

.childrenList {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.addChild {
  // Left-align plus icon with child cards above
  transform: translateX(calc(var(--spacing-m) * -1));
}
