@import 'styles/fonts';
@import 'styles/layout';
@import 'styles/variables';

$buttonLabelMargin: 0.2rem;

.childrenList {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.addChild {
  border: none;
  // Left-align plus icon with child cards above
  transform: translateX(calc(var(--spacing-m) * -1));
  span {
    font-weight: $font-weight-bold;
  }
  &:hover {
    background: transparent;
  }
}
