// Helsinki Brand Color Variables
// Extracted from https://github.com/City-of-Helsinki/open-city-design/blob/master/src/scss/helsinki/_colors.scss
// --------------------------------------------------

// Deprecated brand colors
// TODO: Move to colors from Helsinki Design System
// Need to find mapping for the remaining

$hel-black: #231f20;
$hel-light: #ebedf1;
$red: #ff0000;

// This one is a temporary variable from dropping a mixin
$hel-lighter: #f4f5f7;
