@import 'styles/variables';
@import 'styles/layout';

// Helsinki logo
@mixin helsinki-logo($lang: 'fi') {
  background-image: url('../icons/svg/helsinki-fi.svg');
  background-size: contain;
  background-repeat: no-repeat;
  @if $lang == 'sv' {
    background-image: url('../icons/svg/helsinki-sv.svg');
  }
}

/*
 * Pure CSS spinner, taken from:
 * https://stephanwagner.me/only-css-loading-spinner
 */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*
* Add a simple round spinner
*
* You should use it in pseudo element, see sample below
*/
@mixin add_spinner(
  $size: $spinnerHeight,
  $main-color: var(--color-black-30),
  $alt-color: var(--color-black-90),
  $thickness: 2px
) {
  content: '';
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: $thickness solid $main-color;
  border-top-color: $alt-color;
  animation: spinner 1s linear infinite;
}
