@import 'styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-layout-l;
}

.buttonLink {
  text-decoration: none;
  align-self: center;
}
