@import 'styles/variables';

$navbarIconSize: 1rem;

.dropdownWrapper {
  float: left;
  position: relative;
}

.dropdownContent {
  position: absolute;
  right: 0;
  border: 1px solid var(--color-black-30) !important;
  background: var(--color-white);
  z-index: 1;
  width: 256px;

  .dropdownContentOption {
    border-color: transparent;
    width: 100%;
    color: var(--color-black);
    background-color: var(--color-white);
    text-align: center;
    height: $buttonHeight;

    button {
      width: 100%;
      min-height: $inputHeight;
      padding: $buttonPadding;
      display: flex;
      span {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &:focus,
    &:hover,
    &:focus:hover {
      border: transparent;
    }
    &:hover {
      background-color: var(--color-black-30);
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-black-30);
    }
  }
}

.dropdownOpen {
  display: block !important;
}
