@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/layout';
@import './partial/childFormField.module.scss';

$plusIconHeight: 2rem;

.registrationFormContainer {
  display: grid;
}

.registrationWhiteContainer,
.registrationGrayContainer {
  display: grid;
  h1 {
    margin-bottom: auto;
  }
  @include respond-above(md) {
    grid-template-columns: 1fr minmax(auto, $containerFormMaxWidth) 1fr;
  }

  @include respond-below(md) {
    grid-template-columns: 1fr 10fr 1fr;
  }
}

.formField {
  padding-bottom: $basePadding;
}

.guardianName {
  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseMargin;
  }
}

.submitButton {
  margin: $largeMargin 0;
}

.addNewChildButton {
  display: flex;
  margin: $baseMargin 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: none;
}

.grayBackground,
.registrationGrayContainer {
  background: var(--color-black-5);
}

.registrationWhiteContainer {
  background: var(--color-white);

  > * {
    grid-column: 2;
  }
}

.registrationGrayContainer {
  > * {
    grid-column: 2;
  }
}

.guardianInfo {
  padding-top: $baseMargin;
}

.plusIcon {
  height: $plusIconHeight;
  width: $plusIconHeight;
}
