@import 'styles/layout';
@import 'styles/variables';

.link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100vw;
  max-width: $containerMaxWidth;
  a {
    color: var(--color-black-90);
    margin: $baseMargin;
    text-decoration: none;
    font-weight: 500;
  }
}
