@import 'styles/layout';

.wrapper {
  --padding: var(--spacing-m);

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-s);
  column-gap: var(--spacing-xl);

  padding: var(--padding);

  background: var(--color-white);

  @include respond-above(sm) {
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    align-items: center;

    margin: 0;
    padding: 0;
  }
}

.image {
  margin: calc(#{var(--padding)} * -1);
  margin-bottom: unset;

  @include respond-above(sm) {
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 14.25rem;
    max-height: 14.25rem;

    margin: unset;
  }

  & .image {
    width: 100%;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: var(--spacing-s);
  column-gap: var(--spacing-s);

  & * {
    margin: 0;
  }
}

.cta {
  display: none;

  @include respond-above(sm) {
    display: block;
    justify-self: center;
  }
}

.focalPoint {
  display: flex;
  align-items: center;

  & > *:first-child:not(:last-child) {
    margin-right: var(--spacing-m);
  }
}
